<div class="row pt-5">
  <div class="col-md-5 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>

      <div class="card-body">

        <form class="form" [formGroup]="form" (keydown.enter)="form.valid && loginUser()">
          <div class="form-group">
            <label>Phone or email</label>
            <span class="float-right text-danger">
              <mat-error *ngIf="form.hasError('required', 'login')">
                Required
              </mat-error>
            </span>
            <input
              type="email"
              class="form-control"
              matInput
              id="exampleInputEmail1"
              formControlName="login"
              placeholder="Phone or email"
              required
            />
          </div>

          <div class="form-group">
            <label>Password</label>
            <span class="float-right text-danger">
              <mat-error *ngIf="form.hasError('required', 'password')">
                Required
              </mat-error>
            </span>
            <input
              type="password"
              class="form-control"
              matInput
              formControlName="password"
              placeholder="Password"
              required
            />
          </div>

          <button
            (click)="loginUser()"
            type="button"
            class="btn btn-primary float-left col-md-5"
            [attr.disabled]="!form.valid ? '' : null"
          >
            Login
          </button>

          <div class="forgot pt-1">
            <a id="index_forgot" class="float-right" href="/restore"
              >Forgot your password?</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
