<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" [formGroup]="form">
      <h5 class="text-center">Create a post</h5>
      <div class="form-group">
        <label>Category</label>
        <span class="text-danger">
          <mat-error *ngIf="form.hasError('required', 'category')">
            *
          </mat-error>
        </span>
        <select
          formControlName="category"
          class="form-select"
          aria-label="Default select example"
        >
          <option
            *ngFor="let category of categories"
            value="{{ category.name }}"
          >
            {{ replaceString(category.name) }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <span class="text-danger">
          <mat-error *ngIf="form.hasError('required', 'title')"> * </mat-error>
        </span>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <span class="text-danger">
          <mat-error *ngIf="form.hasError('required', 'text')"> * </mat-error>
        </span>
        <textarea
          formControlName="text"
          rows="5"
          class="form-control"
          name="description"
        ></textarea>
      </div>

      <div class="form-group">
        <button
          [attr.disabled]="
            form.hasError('required', 'title') ||
            form.hasError('required', 'category') ||
            form.hasError('required', 'text')
              ? ''
              : null
          "
          (click)="create()"
          type="submit"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
