<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg pl-0">
      <a class="navbar-brand text-dark" href="">
        <img src="../assets/favicon.ico" />
        myreddit
      </a>
      <ul class="navbar-nav ml-auto">
        <div class="btn-group">
          <button
            *ngIf="auth.isLoggedIn()"
            type="button"
            class="btn"
            data-toggle="dropdown"
          >
            Create
          </button>
          <div class="dropdown-menu dropdown-menu-left">
            <button
              type="button"
              class="btn dropdown-item"
              routerLink="/posts/category/create"
            >
              Category
            </button>
            <button
              type="button"
              class="btn dropdown-item"
              routerLink="/posts/create"
            >
              Post
            </button>
          </div>
        </div>
        <button
          type="button"
          class="btn"
          *ngIf="!auth.isLoggedIn()"
          routerLink="/login"
          routerLinkActive="active"
        >
          Login
        </button>
        <button
          type="button"
          class="btn"
          *ngIf="!auth.isLoggedIn()"
          routerLink="/register"
          routerLinkActive="active"
        >
          Register
        </button>
        <button
          type="button"
          class="btn"
          *ngIf="auth.isLoggedIn()"
          (click)="auth.logoutUser()"
          routerLink="/"
        >
          Logout
        </button>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
