<div class="">
  <div class="d-flex" id="wrapper">
    <div class="" id="sidebar-wrapper">
      <div class="list-group list-group-flush mt-4">
        <a routerLink="/posts" class="nav-link text-dark border-0">All</a>

        <div *ngFor="let category of categories">
          <a
            routerLink="{{ category.name }}"
            class="nav-link text-dark border-0"
          >
            {{ replaceString(category.name) }}
          </a>
        </div>
      </div>
    </div>

    <div id="page-content-wrapper">
      <div class="container-fluid mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
